body {
    background-color: rgb(215, 215, 215);
    margin: 0;
    font-family: rubik;
    color: rgb(126, 0, 0);
}

.favoritosDiv {
    display: flex;
    align-items: center;
    font-size: 10px;
    padding: 4px;
    background-color: #ffffffb2;
    color: #000000;
    text-align: center;
    border-radius: 20px;
}

.fas{
color: goldenrod;
height: 30px;
font-size: 20px;
}

.far{
    color: rgb(39, 39, 38);
    height: 30px;
    font-size: 20px;
    }

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 40px;
    margin: 0 auto;

}

.search {
    padding: 10px;
    border-radius: 50px;
    border-color: #66666600;
    margin-top: -1%;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
}
.card {
    list-style: none;
    padding: 4px;
    width: 80%;
    background-color: #ffffffb2;
    color: #000000;
    text-align: center;
    border-radius: 20px;
}
.card-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0;
}
.card-subtitle {
    font-weight: lighter;
    color: #666;
    margin-top: 2px;
    text-transform: uppercase;
}
.card-image {
    height: 180px;
}

#pokedex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 10px;
}
.card:hover {
    animation: bounce 0.5s linear;
}


@keyframes bounce {
    20% {
    transform: translateY(-6px);
    }
    40% {
    transform: translateY(0px);
    }
    60% {
    transform: translateY(-2px);
    }
    80% {
    transform: translateY(-0px);
    }
}